.title-box{
  margin-top: 20%;
  color: white;   
 }
 
body {
    background: url("~images/background-img2.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; } ​
    
.main{
   margin-top: 50px;
  }  .exchange_box{
    margin: 10px auto;
    .logo-box {
      margin: 0 auto;
      padding-bottom: 10px;
    }
  }